@charset "UTF-8";
body,
html {
  color: #999;
  background-color: #fff; }

p {
  color: #999; }

a {
  color: #999; }

a:hover,
a.active {
  color: #f4af38; }

.title {
  color: #f4af38; }

.subtitle {
  color: #aaa; }

#sitecontent .mlist .bx-wrapper .bx-helper {
  background-color: transparent; }

#sitecontent .mlist .bx-wrapper .bx-controls-direction .bx-prev:hover,
#sitecontent .mlist .bx-wrapper .bx-controls-direction .bx-next:hover {
  background: #f4af38;
  color: #fff; }

#header {
  border-color: #303030;
  /*background: #fff;*/ 
 }
  #header .nav > li .subnav {
    border-top-color: #f4af38; }

.fixed {
  background: #000;
  background: rgba(0, 0, 0, 0.6); }

#mcontact #contactinfo div a:hover {
  border-color: #f4af38;
  background-color: #f4af38; }

#fixed_weixin .fixed-container {
  background: #fff; }
  #fixed_weixin .fixed-container p {
    color: #000; }

#online_open {
  background-color: #f4af38;
  border: #f4af38 1px solid; }
  #online_open:hover {
    border-color: #f4af38;
    background-color: #f4af38; }
    #online_open:hover i {
      color: #fff; }
  #online_open i {
    color: #fff; }

#online_lx {
  background-color: #fff;
  -webkit-box-shadow: 0 5px 9px rgba(4, 0, 0, 0.17);
  box-shadow: 0 5px 9px rgba(4, 0, 0, 0.17); }

#olx_head {
  background: #f4af38;
  color: #fff; }
  #olx_head i {
    color: #fff; }
    #olx_head i:hover {
      color: #fff; }

#olx_qq li a {
  background-color: #f8f8f8;
  color: #888;
  border-bottom: #fff 1px solid; }
  #olx_qq li a i {
    color: #666; }
  #olx_qq li a:hover {
    color: #666;
    background: #eee; }
    #olx_qq li a:hover i {
      color: #f4af38; }

#olx_tel div {
  color: #999; }

#olx_tel p {
  color: #666; }

#fixed_mp .fixed-container {
  background: #fff; }
  #fixed_mp .fixed-container p {
    color: #000; }

.popup .fixed-container {
  background: #fff; }

::-webkit-scrollbar-track-piece {
  background-color: #101012; }

::-webkit-scrollbar {
  background-color: #f4af38; }

::-webkit-scrollbar-thumb {
  background-color: #333; }

::-webkit-scrollbar-thumb:hover {
  background-color: #f4af38; }

.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background-color: #f4af38; }

.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #f4af38; }

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #ccc; }

.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #333; }

#navWrapper .content .nav > li:not(.jsMoveEl) > a.active {
  border-color: #f4af38; }

#navWrapper .content .nav > li:not(.jsMoveEl) .subnav li a:hover {
  background-color: #f4af38; }

#navWrapper .content .nav > li.jsMoveEl span {
  background-color: #f4af38; }

.container_category a.active,
.container_category a:hover {
  background-color: #f4af38; }

.npagePage.post .service #listContent .item_tags a:hover {
  background-color: #f4af38; }

.mcustomize.tlir .container_content .contentbody .wrapper .description a:before,
.mcustomize.tril .container_content .contentbody .wrapper .description a:before {
  background-color: #f4af38; }

.npagePage .ad01 .module_container .container_content .content_wrapper .item_block:hover .item_wrapper {
  background-color: #f4af38; }

#indexPage .project .item_block:after,
.npagePage:not(.post) .project .item_block:after {
  background-color: #f4af38; }

.npagePage.post .project #listContent .item_tags a:hover {
  background-color: #f4af38; }

.npagePage.post .news #listContent .item_tags a:hover {
  background-color: #f4af38; }

#indexPage .news .content_list .item_block:not(:first-child):hover .item_wrapper .item_info .title {
  color: #f4af38; }

.npagePage:not(.post) .news .content_list .item_block:hover .item_wrapper .item_info .title {
  color: #f4af38; }

#indexPage .team .item_block .item_wrapper {
  background-color: #f4af38; }

.npagePage:not(.post) .team .item_block:hover .item_wrapper {
  background-color: #f4af38; }

.agent-pc #indexPage .project .bx-wrapper .bx-pager.bx-default-pager a.active {
  border-color: #f4af38; }

#navWrapper .content .nav > li:not(.jsMoveEl) > a:hover,
#navWrapper .content .nav > li:not(.jsMoveEl) > a.active {
  color: #f4af38; }

#indexPage .service .bx-wrapper .bx-pager.bx-default-pager a.active {
  border-color: #f4af38; }

.npagePage.post .news #listContent .mlist .content_list .item_block:before {
  border-color: #f4af38; }

#indexPage .news .content_list .item_block:first-child .details {
  background-color: #f4af38; }

#indexPage .news .content_list .item_block:first-child .details {
  background-color: #f4af38; }

.npagePage.post #tabBtn .post-prev:not(.empty):hover,
.npagePage.post #tabBtn .post-next:not(.empty):hover {
  background-color: #f4af38; }

.mcustomize.tlir .container_content .contentbody .wrapper .description a:hover,
.mcustomize.tril .container_content .contentbody .wrapper .description a:hover {
  border-color: #f4af38; }

.imagelink .bx-wrapper .bx-pager.bx-default-pager a.active {
  border-color: #f4af38; }

#sitecontent .team .bx-wrapper .bx-controls-direction .bx-next:hover {
  background: none; }

#sitecontent .team .bx-wrapper .bx-controls-direction .bx-prev:hover {
  background: none; }

.npagePage.post .project #postContent #postInfo .description a:hover {
  border-color: #f4af38; }

.npagePage.post .project #postContent #postInfo .description a:hover {
  background-color: #f4af38; }

#shares a {
  background: #202020;
  border: 1px solid rgba(255, 255, 255, 0.08); }

#online_lx {
  background: #303030; }

#olx_qq li a {
  background-color: #303030;
  border-color: rgba(255, 255, 255, 0.1); }

#olx_qq li a:hover {
  color: #666;
  background: #202020; }

.agent-mobile a {
  color: #f4af38;
  text-decoration: none; }

.agent-mobile #mm-slider .slider-info .title {
  font-size: 18px;
  color: #f4af38; }

.agent-mobile .mlist .container_header .title {
  font-size: 18px;
  color: #f4af38;
  padding-top: 40px;
  text-align: left;
  margin-left: 5%; }

.agent-mobile .mm-listview > li > a.active {
  color: #f4af38; }

.agent-mobile #category .label {
  line-height: 40px;
  height: 40px;
  background: #f4af38;
  color: #fff;
  padding: 0 40px; }

.agent-mobile .dropmenu ul li a.active {
  background: #f1f1f1;
  color: #f4af38; }

.agent-mobile #pages a.active,
.agent-mobile #pages a:hover {
  background: 0 0;
  color: #f4af38; }

.agent-mobile .npagePage.post #postWrapper .item_tags a:hover {
  border-color: #f4af38;
  background: #f4af38;
  color: #fff; }

.agent-mobile .project .item_block:hover .item_wrapper {
  background-color: #f4af38; }

.agent-mobile .npagePage.post #postInfo .description a:hover {
  background: #f4af38; }

.agent-mobile .ad01 .content_list li .title {
  color: #f4af38;
  font-size: 14px;
  text-align: left; }

.agent-mobile .ad01 .content_list li:hover .item_wrapper {
  background-color: #f4af38; }

.agent-mobile .team_tabs .tab_content .content_list li .title {
  font-size: 16px;
  color: #f4af38; }

.agent-mobile .team .item_block:hover .title {
  color: #f4af38; }

.agent-mobile .news .item_block:hover .item_info .title {
  color: #f4af38; }

.agent-mobile #sitecontent .news #listContent .item_block:hover .title {
  color: #f4af38; }

.agent-mobile .cate-title {
  height: 50px;
  background: #f4af38;
  line-height: 50px;
  font-size: 16px;
  padding: 0 80px;
  text-align: center;
  color: #fff;
  position: relative;
  overflow: hidden; }

.agent-mobile #online a {
  width: 33.333%;
  float: left;
  height: 100%;
  line-height: 40px;
  text-align: center;
  color: #f4af38;
  font-size: 18px;
  position: relative; }

.mm-menu .mm-listview > li.mm-selected > a:not(.mm-next) {
  color: #f4af38; }

.mlist .m_container .content .more:hover {
  background: #f4af38;
  border-color: #f4af38; }

.mcustomize .contentbody .description a:hover {
  background: #f4af38;
  border-color: #f4af38; }

/* 下面为黑色主题 */
/* CSS Document */
body,
html {
  color: #e7e7e7;
  background-color: #252525; }

#header {
  border-color: #303030;
  background: rgba(0, 0, 0, 0.2); }

#header.mini {
  background: rgba(0, 0, 0, 1); }

#indexPage > * {
  background-color: #252525; }

#navWrapper .content .nav > li:not(.jsMoveEl) > a {
  color: #ccc; }

#indexPage .module .module_container .container_header .title {
  color: #eaeaea; }

#indexPage .project .item_block .item_info .title,
.npagePage:not(.post) .project .item_block .item_info .title {
  color: #fff; }

#indexPage .mcustomize {
  background-color: #252525; }

.mcustomize.tlir .container_content .contentbody .wrapper .description p,
.mcustomize.tril .container_content .contentbody .wrapper .description p {
  color: rgba(255, 255, 255, 0.8); }

.mcounter .module_container .container_content {
  background-color: transparent; }

.singlescreen #indexPage .module.team {
  background-color: #252525; }

#indexPage .service .item_block .item_wrapper .item_info .title,
.npagePage:not(.post) .service .item_block .item_wrapper .item_info .title {
  color: #fff; }

.singlescreen #indexPage #mcontact {
  background-color: #252525; }

#indexPage .news .content_list .item_block:first-child {
  background-color: transparent; }

.singlescreen #indexPage .mcounter .module_container .container_content {
  background-color: transparent; }

.npagePage .content {
  background-color: #252525; }

#indexPage .mcounter ul.content_list li .counterDX {
  color: #eaeaea; }

.mcounter ul.content_list li:not(:last-child):after {
  background-color: rgba(255, 255, 255, 0.15); }

.agent-pc #indexPage .project .bx-wrapper .bx-pager.bx-default-pager a.active {
  background-color: transparent; }

#indexPage .service .bx-wrapper .bx-pager.bx-default-pager a.active {
  background-color: transparent; }

#indexPage .project .item_block:hover,
.npagePage:not(.post) .project .item_block:hover {
  background-color: #111; }

.npagePage.post .project #postContent #postInfo .title {
  color: #fff; }

.npagePage.post #pageTarget {
  background-color: #292929; }

#navWrapper .content .nav > li:not(.jsMoveEl) .subnav {
  background: #222; }

#navWrapper .content .nav > li:not(.jsMoveEl) .subnav li a {
  color: #d4d4d4; }

#navWrapper .content .nav > li:not(.jsMoveEl) .subnav li a:hover {
  color: #fff; }

.subtitle {
  color: #636363; }

#indexPage .project .item_block .item_img .item_mask,
.npagePage:not(.post) .project .item_block .item_img .item_mask {
  border-color: rgba(255, 255, 255, 0.7); }

#indexPage .project .item_block .item_img::before,
.npagePage:not(.post) .project .item_block .item_img::before {
  border-top: 2px solid #f4af38;
  border-bottom: 2px solid #f4af38; }

#indexPage .project .item_block .item_img::after,
.npagePage:not(.post) .project .item_block .item_img::after {
  border-left: 2px solid #f4af38;
  border-right: 2px solid #f4af38; }

#indexPage .project .item_block:hover .item_img::after,
.npagePage:not(.post) .project .item_block:hover .item_img::after {
  background-color: rgba(0, 0, 0, 0.3); }

#indexPage .project .item_block:hover .item_info,
.npagePage:not(.post) .project .item_block:hover .item_info {
  background-color: #f4af38; }

#indexPage .project .item_block:hover .item_info .subtitle,
.npagePage:not(.post) .project .item_block:hover .item_info .subtitle {
  color: rgba(255, 255, 255, 0.6); }

#indexPage .project .item_block:hover,
.npagePage:not(.post) .project .item_block:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); }

.mcustomize.tlir .container_content .contentbody .wrapper .description::before {
  background: rgba(255, 255, 255, 0.08); }

.mcustomize.tlir .container_content .contentbody .wrapper .description a,
.mcustomize.tril .container_content .contentbody .wrapper .description a {
  border-color: rgba(255, 255, 255, 0.25); }

body:not(.singlescreen) #indexPage .mlist.team {
  background-color: #252525; }

.mcustomize.tlir .container_content .contentbody .wrapper .header.wow .title {
  color: #eaeaea; }

#indexPage .news .content_list .item_block:not(:first-child) {
  border-color: rgba(255, 255, 255, 0.1); }

body:not(.singlescreen) #indexPage .mlist.service {
  background-color: #202020; }

#indexPage .service .item_block:hover {
  background-color: #272727; }

.npagePage:not(.post) .service .item_block:hover {
  background-color: #333;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3); }

#indexPage .news .content_list .item_block:first-child .item_wrapper .item_info .title {
  color: #eaeaea; }

#indexPage .service .item_block::before,
.npagePage:not(.post) .service .item_block::before {
  border-top: 2px solid #f4af38;
  border-bottom: 2px solid #f4af38; }

#indexPage .service .item_block::after,
.npagePage:not(.post) .service .item_block::after {
  border-left: 2px solid #f4af38;
  border-right: 2px solid #f4af38; }

#indexPage .service .item_block:hover::after,
.npagePage:not(.post) .service .item_block:hover::after {
  background-color: rgba(0, 0, 0, 0.3); }

#indexPage .service .item_block .item_wrapper .item_info .title::after,
.npagePage:not(.post) .service .item_block .item_wrapper .item_info .title::after {
  background-color: rgba(255, 255, 255, 0.15); }

#indexPage .service .item_block:hover .item_wrapper .item_info .title::after,
.npagePage:not(.post) .service .item_block:hover .item_wrapper .item_info .title::after {
  background-color: rgba(255, 255, 255, 0.3); }

#indexPage .team_tabs .tab_content .item_block:hover .item_wrapper .item_info .title {
  color: #fff; }

#indexPage .service .item_block .item_wrapper .item_des,
.npagePage:not(.post) .service .item_block .item_wrapper .item_des {
  color: rgba(255, 255, 255, 0.2); }

#indexPage #mcontact {
  background-color: #1B1B1B; }

#indexPage .service::before {
  background: rgba(255, 255, 255, 0.08); }

body:not(.singlescreen) #indexPage .mlist.news {
  background-color: #202020; }

#indexPage .team .bx-wrapper .bx-controls-direction a:hover i {
  color: #fff; }

#indexPage .team .bx-wrapper .bx-controls-direction a:first-child {
  border-color: rgba(255, 255, 255, 0.08); }

.ad01 .module_container .container_content .content_wrapper .item_block:not(:first-child):nth-child(2n+1) .item_wrapper {
  background-color: transparent; }

.ad01 .module_container .container_content .content_wrapper .item_block:not(:first-child):nth-child(2n+1) .item_wrapper .title {
  color: #eaeaea; }

.ad01 .module_container .container_content .content_wrapper .item_block .item_wrapper p,
.ad01 .module_container .container_content .content_wrapper .item_block:not(:first-child):nth-child(2n+1) .item_wrapper .description p {
  color: rgba(255, 255, 255, 0.4); }

.imagelink .content_list .item_block:after {
  border-color: rgba(255, 255, 255, 0.05); }

#sitecontent #indexPage .ad01 {
  background-color: #202020; }

#indexPage .ad01 .module_container .container_content .content_wrapper .item_block:hover .item_wrapper {
  background-color: #f4af38; }

#indexPage .imagelink .bx-wrapper .bx-pager.bx-default-pager a.active {
  background-color: #252525; }

#indexPage .news .content_list .item_block .item_wrapper .item_des .description {
  color: rgba(255, 255, 255, 0.4); }

#indexPage .news .content_list .item_block:first-child:hover .item_wrapper .item_des .description {
  border-color: rgba(255, 255, 255, 0.15); }

#indexPage .news .content_list .item_block:not(:first-child) .item_wrapper .item_info .title {
  color: #D2D2D2; }

#indexPage .news .content_list .item_block:not(:first-child) .details {
  border-color: rgba(255, 255, 255, 0.1); }

#indexPage .team_tabs .content_wrapper .bx-wrapper::before {
  border-color: rgba(255, 255, 255, 0.1); }

.bx-wrapper .bx-loading {
  background-color: #111; }

.ad01 .module_container .container_content .content_wrapper .item_block .item_img::before {
  border-top: 5px solid #f4af38;
  border-bottom: 5px solid #f4af38; }

.ad01 .module_container .container_content .content_wrapper .item_block .item_img::after {
  border-left: 5px solid #f4af38;
  border-right: 5px solid #f4af38; }

#indexPage .team_tabs .tab_content .item_block::after,
#indexPage .team_tabs .tab_content .item_block:hover::after {
  background-color: #252525;
  border-color: rgba(255, 255, 255, 0.5); }

.ad01 .module_container .container_content .content_wrapper .item_block .details::after {
  color: rgba(255, 255, 255, 0.8); }

.agent-pc .ad01 .module_container .container_content .content_wrapper .item_block .details::before {
  border-color: rgba(255, 255, 255, 0.4); }

#sitecontent #indexPage .ad01 .container_header .title {
  color: #eaeaea; }

.ad01 .module_container .container_content .content_wrapper .item_block:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3); }

.ad01 .module_container .container_content .content_wrapper .item_block:first-child .item_wrapper {
  background: rgba(0, 0, 0, 0.1); }

.ad01 .module_container .container_content .content_wrapper .item_block:nth-child(2n):not(:first-child) .item_wrapper {
  background: rgba(0, 0, 0, 0.1); }

.agent-pc .ad01 .module_container .container_content .content_wrapper .item_block:nth-child(2n+1):not(:first-child) .item_wrapper .details::before,
.ad01 .module_container .container_content .content_wrapper .item_block:hover .details::before {
  color: rgba(255, 255, 255, 0.8); }

.ad01 .module_container .container_content .content_wrapper .item_block:hover .item_wrapper p,
.ad01 .module_container .container_content .content_wrapper .item_block:nth-child(2n+1):not(:first-child):hover .item_wrapper .description p {
  color: rgba(255, 255, 255, 0.8); }

.agent-pc body:not(.singlescreen) #indexPage .mcounter {
  background-color: #1b1b1b; }

.npagePage.post .project #postContent #postInfo .description a {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1); }

.npagePage:not(.post) .news .content_list .item_block .item_wrapper .item_info .title,
.npagePage.post .news #postContent #postInfo .title {
  color: #eaeaea; }

.npagePage:not(.post) .news .content_list .item_block .details {
  border-color: rgba(255, 255, 255, 0.1); }

.npagePage:not(.post) .news .content_list .item_block {
  border-color: rgba(255, 255, 255, 0.1); }

.npagePage:not(.post) .team .item_block .item_wrapper .text_wrap .title,
.npagePage.post .news #listContent .mlist .content_list .item_block .item_wrapper .item_info .title {
  color: #eaeaea; }

.npagePage:not(.post) .team .item_block:hover .item_wrapper .text_wrap .title,
.npagePage.post .news #listContent .mlist .content_list .item_block:hover .item_wrapper .item_info .title {
  color: #eaeaea; }

.npagePage.post .news #postContent #postInfo,
.npagePage.post .news #listContent .item_tags,
.npagePage.post .news #listContent .mlist .content_list .item_block:not(:last-child) {
  border-color: rgba(255, 255, 255, 0.15); }

.npagePage:not(.post) .team .item_block .item_wrapper .text_wrap {
  border-color: rgba(255, 255, 255, 0.15); }

.npagePage:not(.post) .team .item_block:hover .item_wrapper .text_wrap {
  border-color: rgba(255, 255, 255, 0.2); }

.npagePage:not(.post) .team .item_block:hover {
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.3); }

.npagePage:not(.post) .team .item_block .details {
  border-color: rgba(255, 255, 255, 0.1); }

.npagePage:not(.post) .team .item_block:hover .details {
  border-color: rgba(255, 255, 255, 0.4); }

.npagePage.post .team #postInfo .title {
  color: #fff; }

.npagePage.post .team #postInfo {
  border-color: rgba(255, 255, 255, 0.12); }

.npagePage.post #tabBtn .post-next,
.npagePage.post #tabBtn .post-prev {
  background-color: #202020; }

.npagePage.post #tabBtn .post-next .infor-wrap .title,
.npagePage.post #tabBtn .post-prev .infor-wrap .title {
  color: rgba(255, 255, 255, 0.6); }

.npagePage.post #tabBtn .post-prev:hover:not(.empty),
.npagePage.post #tabBtn .post-next:hover:not(.empty) {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); }

.npagePage.post #pageTarget .container_target,
.agent-pc .npagePage:not(.post) #pageTarget .module_container .container_target {
  color: #787878; }

.npagePage.post .news #listContent .mlist .content_list .item_block .item_des .description {
  color: rgba(255, 255, 255, 0.3); }

.npagePage.post .news #listContent .item_tags a {
  color: #999;
  border: 1px solid rgba(255, 255, 255, 0.1); }

.postbody hr {
  border-color: rgba(255, 255, 255, 0.15); }

#indexPage .team_tabs .tab_content .item_block::before {
  border-color: rgba(255, 255, 255, 0.2); }

#indexPage .team .item_block .item_wrapper {
  background-color: transparent; }

#indexPage .team .item_block:hover .item_wrapper {
  background-color: #f4af38; }

#indexPage .team .item_block:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25); }

#indexPage .team .item_block .item_wrapper .description {
  color: rgba(255, 255, 255, 0.4); }

.npagePage.post .project #postContent #postInfo,
.npagePage.post .project #listContent .item_tags,
.npagePage.post .project #listContent .mlist .content_list .item_block:not(:last-child) {
  border-color: rgba(255, 255, 255, 0.1); }

.npagePage.post .project #listContent .mlist .content_list .item_block .item_wrapper .item_info .title {
  color: #b3b3b3; }

.npagePage.post .project #listContent .mlist .content_list .item_block:hover .item_wrapper .item_info .title {
  color: #eaeaea; }

#indexPage .team .item_block:hover .item_wrapper .description {
  color: rgba(255, 255, 255, 0.7); }

.npagePage.post .project #listContent .item_tags a {
  border: 1px solid rgba(255, 255, 255, 0.1); }

.npagePage.post .service #postInfo .title {
  color: #eaeaea; }

.npagePage.post .service #postInfo {
  border-color: rgba(255, 255, 255, 0.1); }

.npagePage.post .service #listContent .item_tags a:not(:last-child):after {
  border-color: rgba(255, 255, 255, 0.15); }

.npagePage.post .service #listContent .content_wrapper .content_list .item_wrapper {
  background-color: #252525; }

.npagePage.post .service #listContent .content_wrapper .content_list .item_wrapper .item_info .title {
  color: #eaeaea; }

.npagePage.post .service #listContent .content_wrapper .content_list .item_wrapper .item_info:after {
  border-color: rgba(255, 255, 255, 0.15); }

#postContent hr {
  border-color: rgba(255, 255, 255, 0.18); }

.npagePage.post .service #listContent .content_wrapper .content_list .item_block:hover {
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3); }

#indexPage .project .item_block .item_info {
  background: rgba(0, 0, 0, 0.1);
  padding: 6% 5% 6%; }

#postSlider {
  display: block; }

#sitecontent #postSlider .bx-wrapper .bx-controls-direction .bx-next,
#sitecontent #postSlider .bx-wrapper .bx-controls-direction .bx-prev {
  background: rgba(0, 0, 0, 0.5); }

#sitecontent #postSlider .bx-wrapper .bx-controls-direction .bx-next:hover,
#sitecontent #postSlider .bx-wrapper .bx-controls-direction .bx-prev:hover {
  background: #f4af38; }

.agent-pc .npagePage.post .tab_button li .item_img {
  border: 2px solid transparent; }

.agent-pc .npagePage.post .tab_button li:hover .item_img {
  border: 2px solid #f4af38; }

.npagePage.post .project #listContent .mlist .content_list .item_block:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); }

.agent-mobile .project .item_block .item_wrapper {
  background-color: #202020; }

.agent-mobile #sitecontent .project .item_block .title {
  color: #eaeaea; }

.agent-mobile .mlist .m_container .content .more {
  border-color: rgba(255, 255, 255, 0.15);
  color: #afafaf; }

.agent-mobile .news .item_block .item_info .title {
  color: #eaeaea; }

.agent-mobile .news .content_list li {
  border-color: rgba(255, 255, 255, 0.1); }

.agent-mobile .team .item_block .title {
  color: #eaeaea; }

.mm-menu {
  background: #222;
  color: rgba(255, 255, 255, 0.7); }

.mm-menu .mm-listview > li:after {
  border-color: rgba(255, 255, 255, 0.05); }

.npagePage:not(.post) .news .content_list .item_block:hover {
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2); }

#indexPage .team_tabs .tab_content .item_block:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 20, 0.25); }

/* 手机独有颜色 */
.agent-mobile .npagePage:not(.post) .team .item_block .item_wrapper .text_wrap .title,
.agent-mobile .npagePage.post .news #listContent .mlist .content_list .item_block .item_wrapper .item_info .title {
  color: #fff; }

.agent-mobile #sitecontent .project .item_block .title {
  color: #eaeaea; }

.agent-mobile #sitecontent .project .item_block:hover .title {
  color: #fff; }

.agent-mobile .mlist .m_container .content .more {
  color: #fff; }

.mcustomize.tlir .container_content .contentbody .wrapper .description a:hover,
.mcustomize.tril .container_content .contentbody .wrapper .description a:hover {
  color: #fff; }

.theme-bwhite #navWrapper .content .nav > li:not(.jsMoveEl) > a:hover,
.theme-bwhite #navWrapper .content .nav > li:not(.jsMoveEl) > a.active {
  color: #fff; }

.theme-bwhite #navWrapper .content .nav > li:not(.jsMoveEl) > a.active {
  border-color: #fff; }

.theme-bwhite #indexPage .news .content_list .item_block:hover:not(:first-child) .item_wrapper .item_info .title {
  color: #fff; }

.theme-bwhite .npagePage:not(.post) .news .content_list .item_block:hover .item_wrapper .item_info .title {
  color: #fff; }

.theme-bwhite .npagePage.pageEditor .title {
  color: #fff; }

.theme-bwhite #navWrapper .content .nav > li.jsMoveEl span {
  background-color: #ededed; }

/*# sourceMappingURL=debug/3500.css.map */
.agent-mobile .project .item_block .item_wrapper {
  background-color: #202020; }

.agent-mobile #sitecontent .project .item_block .title {
  color: #eaeaea; }

.agent-mobile .mlist .m_container .content .more {
  border-color: rgba(255, 255, 255, 0.15);
  color: #afafaf; }

.agent-mobile .news .item_block .item_info .title {
  color: #eaeaea; }

.agent-mobile .mcustomize.tlir .container_content .contentbody {
  margin-top: 0; }

.agent-mobile .news .content_list li {
  border-color: rgba(255, 255, 255, 0.1); }

.agent-mobile .team .item_block .title {
  color: #eaeaea; }

.agent-mobile .agent-mobile .mlist.team {
  padding-bottom: 60px; }

.agent-mobile .mm-menu {
  background: #222;
  color: rgba(255, 255, 255, 0.7); }

.agent-mobile .mm-menu .mm-listview > li:after {
  border-color: rgba(255, 255, 255, 0.05); }

.agent-mobile .mlist.team {
  margin-bottom: 60px; }

.agent-mobile .team .item_block {
  width: 48%;
  margin: 1%; }

.agent-mobile .mlist .m_container .content .more {
  color: #fff; }

.mcustomize.tlir .container_content .contentbody .wrapper .description a:hover,
.mcustomize.tril .container_content .contentbody .wrapper .description a:hover {
  color: #fff; }

.agent-mobile #header {
  background: #1b1b1b; }

.agent-mobile .module.mcounter .module_container {
  background-color: #202020; }

.agent-mobile .module.mcounter ul.content_list li div:after {
  background: none; }

.agent-mobile .module.mcounter ul.content_list li p.number .counterDX {
  color: #eaeaea; }

.agent-mobile .imagelink {
  background-color: #252525; }

.agent-mobile #mcontact {
  background-color: #202020; }

.agent-mobile #mcontact .container_header .title {
  color: #eaeaea; }

.agent-mobile #footer {
  background: #252525; }

.agent-mobile #online {
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); }

.agent-mobile #online a:after {
  background: rgba(255, 255, 255, 0.1); }

.agent-mobile #mcontact .contactinfo h3 {
  color: #b9b9b9; }

.agent-mobile .module.mcounter ul.content_list li div {
  border-color: rgba(255, 255, 255, 0.06); }

.agent-mobile .mm-menu .mm-listview > li.mm-selected > a:not(.mm-next) {
  background: #1b1b1b; }

.agent-mobile .news .m_container .content .item_block .description {
  line-height: 22px; }

.agent-mobile #indexPage .project .item_block .item_img::before,
.agent-mobile .npagePage:not(.post) .project .item_block .item_img::before {
  border: none; }

.agent-mobile #sitecontent .project .item_block .title {
  color: #eaeaea; }

.agent-mobile #sitecontent .project .item_block:hover .title {
  color: #fff; }

.agent-mobile .dropmenu ul {
  background-color: #202020; }

.agent-mobile .dropmenu ul li,
.agent-mobile .dropmenu ul li a {
  background-color: #202020; }

.agent-mobile .dropmenu ul li a.active {
  background: #1b1b1b; }

.agent-mobile .dropmenu ul li {
  border-color: rgba(255, 255, 255, 0.06); }

.agent-mobile .npagePage.post #postInfo .title {
  color: #fff; }

.agent-mobile .npagePage.post .project #postInfo .description a {
  border-color: rgba(255, 255, 255, 0.1); }

.agent-mobile .npagePage.post #postContent {
  border-color: rgba(255, 255, 255, 0.08); }

.agent-mobile .npagePage.post .project #postInfo .description a {
  color: #9e9e9e; }

.agent-mobile .npagePage.post #listContent h3 {
  color: #9e9e9e; }

.agent-mobile #sitecontent .npagePage.post #postContent .title {
  color: #eaeaea; }

.agent-mobile #sitecontent #listContent .item_block:hover .title {
  color: #fff; }

.agent-mobile .npagePage:not(.post) .service .item_block:hover {
  background: transparent; }

.agent-mobile .npagePage.post #postWrapper .item_tags a {
  border-color: rgba(255, 255, 255, 0.1); }

.agent-mobile .npagePage.post #postNav .navitem {
  border-color: rgba(255, 255, 255, 0.1); }

.agent-mobile .npagePage .description {
  margin-top: 3px; }

.agent-mobile .mm-menu em.mm-counter {
  color: rgba(255, 255, 255, 0.5); }

.agent-mobile .mm-menu .mm-listview > li .mm-arrow:after,
.agent-mobile .mm-menu .mm-listview > li .mm-next:after,
.agent-mobile .mm-menu .mm-listview > li .mm-prev:before {
  border-color: rgba(255, 255, 255, 0.3); }

.agent-mobile .mm-menu .mm-navbar > a {
  color: rgba(255, 255, 255, 0.8); }

.agent-mobile .mm-menu .mm-navbar .mm-btn:after,
.agent-mobile .mm-menu .mm-navbar .mm-btn:before {
  border-color: rgba(255, 255, 255, 0.3); }

.agent-mobile .mm-menu .mm-navbar {
  border-color: rgba(255, 255, 255, 0.08); }

.agent-mobile .npagePage:not(.post) .team .item_block .item_wrapper .text_wrap .title,
.agent-mobile .npagePage.post .news #listContent .mlist .content_list .item_block .item_wrapper .item_info .title {
  color: #fff; }

.agent-mobile .team .item_block .item_info {
  padding: 20px 10px 20px 15px; }

.agent-mobile .npagePage .postbody {
  line-height: 20px; }

.agent-mobile .npagePage .content hr {
  border-color: rgba(255, 255, 255, 0.1); }

.agent-mobile .npagePage .mlistpost.project {
  margin-top: 0; }
